.jinxuanul li {
	float: left;
	width: 180px;
	border: 1px solid #ccc;
	margin: 8px;
	padding: 8px;
	height:242px;
}

.j_img {
	width: 100%;
	text-align: center;
}

.j_img img {
	width: 136px;
	height: 136px;
}

.jtext {
	width: 100%;
	float: left;
	margin-top: 10px;
}

.jtext span {
	display: block;
	float: left;
	width: 120px;
	line-height: 35px;
	text-align: right;
	padding-right: 8px;
}

.jxbnner_btn {
	width: 150px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	background: #00AAE3;
	display: block;
	margin-left: 10px;
}
/*白底透明*/
.bditms {
	width: 100%;
	height: 100%;
	z-index: 99999;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .7);
}

.td_car {
	display: block;
	float: left;
	width: 50px;
	text-align: right;
	padding-top: 12px;
	margin-right: 8px;
}

.carinfo_left {
	float: left;
	width: 46%;
	padding: 2%;
	margin-top: 10px;
}

.carinfo_right {
	float: right;
	width: 46%;
	padding: 2%;
}

.carinfo_left span {
	display: block;
	float: left;
	padding: 8px;
	text-align: center;
	color: #666;
	border: 1px solid #00AAE3;
	margin-right: 8px;
	margin-top: 10px;
}

.carinfo_right img {
	float: left;
	margin-right: 8px;
	width: 176px;
	height: 156px;
	margin-top: 10px;
}

/*车型新建*/
*[hidefocus],input,textarea,a{outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
caption,th{font-weight:normal;font-style:normal;text-align:left;}
em,strong{font-weight:bold;font-style:normal;}
body,textarea,select,input,pre{font-family:arial,microsoft yahei,helvetica,sans-serif;font-size:14px;color:#333;}
body{background:#f8f8f8;line-height:1.5em;-webkit-text-size-adjust:none;}
a,button{cursor:pointer;}
textarea{resize:none;overflow:auto;}
pre{white-space:pre-wrap;}
a{color:#333;text-decoration:none;}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}
button {
    -webkit-tap-highlight-color: rgba(255,255,255,0)
}
input, select {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px 0;
    text-align: center;
}

select {
    padding: 2px 8px;
}

.box {
    width: 1524px;
    overflow: hidden;
    color: #333;
}

.new-title {
    font-size: 24px;
    padding: 10px 0;
    margin-left: 50px;
}

.new-top {
    overflow: hidden;
    border-bottom: 1px solid #000;
    padding: 5px 0;
}

.new-top span:first-child {
    float: left;
    font-size: 24px;
    padding: 10px 0;
    margin-left: 50px;
}

.new-list {
    margin: 20px 0 20px 50px;
}

.list-img {
    margin: 20px 0 20px 50px;
}

.list-img p {
    font-size: 15px;
    font-weight: 600;
}
.list-img>div ul{
    overflow: hidden;
    padding: 15px 0;
}
.list-img>div ul li {
    float: left;
    width:150px;
    height:150px;
    margin-right: 15px;
    background: #eee;
    position: relative;
}
.list-img>div ul li span{
    text-align: center;
    line-height: 150px;
    position: absolute;
    font-size: 16px;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    color: #333;
}
.list-img>div ul li img{
    width:150px;
    height:150px;
    position: absolute;
    z-index: 99;
}
.list-img>div ul li input{
    width:146px;
    height:146px;
    position: absolute;
    z-index: 100;
    opacity: 0;
    left: 0;
    top:0;
}
.new-shop{
    margin: 20px 0 20px 50px;
}
.new-shop p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.new-shop span{
    padding-right:12px ;
}
.new-shop input{
    margin-right:150px ;
    position: relative;
    top: 2px;
}
.new-message{
    margin: 20px 0 20px 50px;
}
.mes-title{
    font-size: 18px;
    font-weight: 600;
    margin: 40px 0 15px 0;
}
.mes-tab{
    width:100%;
    overflow: hidden;
    padding-bottom: 20px;
}
.mes-tab li{
    width:50%;
    text-align: center;
    float: left;
    cursor: pointer;
}
.mes-tab li span{
    font-size: 16px;
    font-weight: 600;
}
.mes-tab li div{
    width:20%;
    height: 2px;
    background: #05a8eb;
    margin: 7px auto 0;
    display: none;
}
.mes-son-tab{
    width:100%;

}
.mes-config{
    width:100%;
}
.config-base p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.config-base>div{
    padding: 10px 0;
}
.config-base>div>span{
    width: 110px;
    text-align: left;
    display: inline-block;
    margin-left: 30px;
}
.config-base > div > span:first-child {
    margin-left: 0;
}
.config-ligth{
    overflow: hidden;
}
.config-ligth>p{
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0;
}
.ligth-list{
    float: left;
    width:25%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}
.ligth-list div{
    width:320px;
    height: 200px;
    background: #eee;
    margin: 0 auto;
    position: relative;
}
.ligth-list div img{
    width:320px;
    height: 200px;
    position: absolute;
    z-index: 99;
    left: 0;
    top:0;
}
.ligth-list div span{
    text-align: center;
    line-height: 200px;
    position: absolute;
    font-size: 16px;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    color: #333;
}
.ligth-list div input{
    width:315px;
    height: 195px;
    position: absolute;
    z-index: 100;
    opacity: 0;
    left: 0;
    top:0;
}
.ligth-list-title{
    font-size: 15px;
    padding: 15px 0;
    color: #191919;
}
.ligth-list-title input{
    font-weight: 600;
}
.ligth-list-summary{
    font-size: 15px;
    color: #666;
    width:90%;
    height: 150px;
    resize:none;
    overflow-y:scroll;
}
.mes-details{
    width:100%;
    overflow: hidden;
    display: none;
}
.details-box{
    width:100%;
    overflow: hidden;
}
.details-item{
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
}
.details-item_title{
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
}
.details-item_title i{
    padding-right: 13px;
    position: relative;
    color: #999;
    margin-left: 80%;
}
.icon:after{
    content: " ";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 2px;
    transform: rotate(135deg);
}
.iconActive:after{
    transform: rotate(-45deg);
    margin-top: -5px;
}
.item-info{
    color: #666;
    padding: 5px 20px 15px;
    display: block;

}
.item-info li{
    padding: 10px 0;
    display: block;
}
.item-info li span{
    width: 160px;
    text-align: left;
    display: inline-block;
    margin-right: 30px;
}
.item-info i{
    padding-right: 20px;
    cursor: pointer;
}
.item-info input[type="radio"]{
    position: relative;
    top:2px;
    cursor: pointer;
}
.new-button{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.new-button a{
    color: white;
    background: #4d90fe;
    display: inline-block;
    border: 0;
    padding: 7px 14px;
    margin: 5px 0;
}